body {
  background: linear-gradient(to right, black, rgb(45, 48, 55), rgb(67, 62, 62), rgb(110, 110, 110));
    font-family: 'Schibsted Grotesk', sans-serif;

}

::-webkit-scrollbar {
  width : 5px;
  background-color : rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  background : rgb(105, 105, 105);
  border-radius : 100px;
}

.box1 {
  background: #99daff;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 20px;
  padding: 2rem 0;
  font-family: 'Schibsted Grotesk', sans-serif;
  text-align: center;
  height: 80px;
  border-radius: 25px 25px 0 0;
  color: rgba(0, 0, 0, 0.733);
}

#top-bar {
  position: fixed;
  border-bottom: solid;
  color: white;
  border-width: 1px;
  border-radius: 100px;
  padding-right: 73.5%;
  transition: all .4s ease-in-out;
  top: 0;
  z-index: 10;
}

#top-bar.solid {
  background-color: rgb(20, 20, 20);
  border-radius: 0;
  top : 0;
}

#title {
  color: white;
  position: fixed;
  margin-top: 3px;
  margin-left: 2%;
  font-size: 2.8rem;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

.horizontal-menu {
  position: relative;
  padding-top: 3px;
  display: flex;
  margin-left: 215%;
  width: 150%;
  justify-content: flex-start;
  flex: 1;
}

.active {
  border-bottom: solid;
  border-width: 2px;
  border-radius: 2px;
  text-shadow: 0 0 6px white;
}

.horizontal-menu a {
  background-color: transparent;
  color: white;
  font-size: 2.1rem;
  padding: 8px;
  text-decoration: none;
  flex: 1;
  cursor: pointer;
  text-align: center;
}

.horizontal-menu a:hover {
  background-color: transparent;
  transition-duration: 500ms;
  text-shadow: 4px 3px 8px white;
  background: linear-gradient();
}

.hm {
  user-select: none;
  z-index: 10;
}

span {
  background-color: transparent;
  color: black;
  padding: 8px;
  text-decoration: none;
  flex: 1;
  text-align: center;
}

span ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span ul li {
  display: inline-block;
  position: relative;
}

span ul li:hover>ul {
  display: block;
}

span ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0 10% 5% 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #ccc;
  text-align: center;
}

span ul li ul li {
  display: block;
  border-bottom: 0.01px solid rgb(155, 155, 155);
}

#smallLogo {
  position: relative;
  top: 6px;
  height: 42px;
  margin-right: 9px;
}

.carousel {
  top: -14rem;
  height: 45rem;
  perspective: 70rem;
}

.carousel .carousel-item {
  width: 450px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 450px;
  height: 379px;
  color: #262626;
  border-radius: 25px;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
}


.main-text {
  padding: 8px 0;
  font-family: 'Schibsted Grotesk', sans-serif;
  text-align: center;
}

.main-text p {
  font-size: 1.4rem;
  padding: 0 35px;
  font-family: "Josefin Sans", sans-serif !important !important;
}

#bright {
  text-shadow: 0 0 6px white;
}

canvas {
  background-color: white;
}

.start {
  position: relative;
  background-color: white;
  width: 20%;
  right: .5rem;
  bottom: 14rem;
  padding-bottom: .1rem;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  border-radius: 0rem 1.4rem 1.4rem 0rem;
  z-index: 1;
  display: inline-block;
}

.cartoon {
  position: relative;
  top: -10rem;
  float: none;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  z-index: 1;
}

.runner {
  position: relative;
  width: 70%;
  z-index: 1;
  top: -14rem;
  border-radius: 1.4rem 0rem 0rem 1.4rem;
  margin-left: 4rem;
}

#topic1 {
  position: relative;
  top: 4rem;
  margin-left: 3rem;
  color: white;
  width: 40%;
  font-size: 4rem;
  font-weight: bolder;
}


#waterbottle {
  position: absolute;
  top : 100rem;
  width: 10rem;
  margin-left: 12rem;
  bottom: 14rem;
  z-index: 2;
  background-color : rgb(131, 131, 131);
  border-radius : 50%;
  border : 5px solid black;
}


#shoes {
  position : absolute;
  top : 109rem;
  right : 11rem;
  width : 10rem;
  z-index : 3;
  background-color : rgb(131, 131, 131);
  border-radius : 50%;
  border : 5px solid black;
}
#warmup {
  position : absolute;
  top : 116rem;
  left : 12rem;
  width : 10rem;
  z-index : 3;
    background-color : rgb(131, 131, 131);
  border-radius : 50%;
  border : 5px solid black;
  overflow: hidden;
}

#slide {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  top: 2rem;
  font-family: "Josefin Sans", sans-serif !important!important;
  font-size: 2rem;
  overflow: hidden;
}

.fade-out {
  transition: color 0.5s ease-out;
}
.container {
  background-color : blue;
  display : flex;
  justify-content: center;
}

.box {
  background-color : green;
  display : flex;
  padding : 1rem 2rem 1rem 2rem;
  align-items : center;
}

.bubble {
  position : relative;
  background-color : rgb(219, 219, 219);
  height : 11rem;
  width : 11rem;
  border-radius : 50%;
  border: solid 3px white;
}

.desc {
  background-color : rgb(255, 255, 255);
  width : 43rem;
  height : 8rem;
  padding-right : 5rem;
  padding-left : 3rem;
}
.rightDesc {
  margin-left : -3rem;
  border-top-right-radius : 100px;
  border-bottom-right-radius : 100px;
}

.leftDesc {
  border-top-left-radius : 100px;
  border-bottom-left-radius : 100px;
}
.bubble1 {
  background : url("https://www.transparentpng.com/thumb/water-bottle/u0q5Go-water-bottle-clipart-png-photos.png");
  background-position : center;
  background-size : 90%;
  background-color : rgb(255, 197, 71);
  background-repeat : no-repeat;
}

.bubble2 {
  background : url("warmup.png");
  margin-left : -3rem;
    background-position : center;
  background-size : 90%;
  background-repeat : no-repeat;
  background-color : rgb(0, 255, 76);
}
